*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
.img-container{
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    margin-left: 1rem;
    overflow: hidden;
    border: 1px solid black;
}
.img-container img{
    width: 10rem;
    transition: transform .8s;
}
.img-container img:hover{
    transform: scale(1.1);
}